.student_dashboard {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1 0 0;
  gap: 1rem;
  background-color: #2b223e;
  padding: 1rem 1.5rem;

  .header_text {
    align-self: stretch;
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    flex: 1 0 0;

    .quiz_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;
      gap: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 1.125rem;
      border: 0.5px solid var(--Purple-4, #7c63ab);
      background: var(--Purple-2, #35284e);
      cursor: pointer;

      &:hover {
        background-color: rgb(26, 26, 26, 0.1);
        border-color: #7a68ff;
      }

      .title {
        flex: 1 0 0;
      }
    }
  }
}
